
{% load static %}
<footer>
    <div class="footer-container">
      <div class="footer-section">
        <h2>Features</h2>
        <ul>
          <li><a href="#">Seed Choose</a></li>
          <li><a href="#">Soil Health Consult</a></li>
          <li><a href="#">Disease Prevention</a></li>
          <li><a href="#">Irrigation</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h2>Resources</h2>
        <ul>
          <li><a href="#">Get Support</a></li>
          <li><a href="#">Report Spam</a></li>
          <li><a href="#">Expert</a></li>
          <li><a href="#">Knowledge Base</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h2>Services</h2>
        <ul>
          <li><a href="#">Community</a></li>
          <li><a href="#">Workshop</a></li>
          <li><a href="#">Career</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h2>Eco Friendly</h2>
        <ul>
          <li><a href="#">Biodiversity</a></li>
          <li><a href="#">Nutrition</a></li>
          <li><a href="#">Socialistic</a></li>
          <li><a href="#">Climates</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h2>Follow Us</h2>
        <ul>
          <li><a href="#" target="_blank"><img src="{% static 'image/youtube.jpeg' %}" alt="Youtube Logo"  class="follow_logo"></a></li>
          <li><a href="#" target="_blank"><img src="{% static 'image/facebook.jpeg' %}" alt="Facebook Logo" class="follow_logo"></a></li>
          <li><a href="#" target="_blank"><img src="{% static 'image/twiter.jpeg' %}" alt="Twitter Logo" class="follow_logo"></a></li>
        </ul>
      </div>
      <div class="footer-copyright">
        <p>&copy; 2024 [Surajit Maji,Sreyashree Khanra, Mamoni Sukla]. All rights reserved.</p>
      </div>
    </div>
</footer>