{% extends 'base.html'%}

{% load static %}
{% block title%}
Home
{% endblock title%}
  
{% block head %}

<link rel="stylesheet" type="text/css" href="{% static 'css/farming.css' %}">
{% endblock head %}
    {% block body %}

    <main>
        <div class="features-area">
        <h1>Features</h1>
        <div class="each_features right-side-para">
            <div class="feature-image soil">
                <span>Soil</span> </div>
            <div class="feature-desc" >
                <p id="limited-words">
                    <b>Soil Texture : </b>Conduct a soil test to understand pH, nutrient levels, and soil texture. This will help you determine which crops will thrive
                    <br><b>Drainage : </b> Soil should drain excess water to prevent root rot and allow for healthy root development. Avoid compacted or poorly draining soils.
                    <br><b>Nutrient Content :</b>Rich in essential nutrients (nitrogen, phosphorus, potassium) and organic matter. Incorporating compost or fertilizers can boost nutrient levels.
                    <br><b>pH Level:</b>Most crops thrive in a pH range of 6.0 to 7.5. Soil testing can help determine necessary amendments to achieve the desired pH.
                    <br><b>Moisture Retention:</b>Soil should retain adequate moisture for crops but not become waterlogged. Proper balance is essential for crop health.
                    <br><b>Soil Structure:</b>A crumbly texture allows for air circulation and root penetration. Good soil structure supports beneficial microbial life
                    <br><b>Microbial Activity:</b> Healthy soil contains diverse microorganisms that break down organic matter and enhance nutrient availability.
                    <br><b>Organic Matter:</b> High levels of organic matter improve soil structure, moisture retention, and nutrient supply. Aim for at least 3-5% organic matter.
                    <br><b>Minimal Contaminants:</b>Ensure the soil is free from pollutants, heavy metals, or chemicals that can harm crops and soil health.

                </p>
                <a href="#">
                    See More
                </a>
            </div>
        </div>
        <div class="each_features left-side-para">
            <div class="feature-desc" >
                <p id="limited-words">
                    <b>Understand Your Soil Type : </b>A balanced mixture of sand, silt, and clay. Loamy soil holds moisture and nutrients while providing good drainage.
                    
                </p>
                <a href="#">
                    See More
                </a>
            </div>
            <div class="feature-image seed"><span> Seed</span></div>
        </div>
        <div class="each_features right-side-para">
            <div class="feature-image irrigation"><span>Irrigation</span> </div>
            <div class="feature-desc" >
                <p id="limited-words">
                    Irrigation involves the process of watering crops by bringing water from canals, pipes, sprinklers, or other man-made techniques, rather than depending on rainfall alone. Irrigation is vital for agriculture and farming. Most parts of India do not receive rainfall throughout the year. However, plants need water even during non-rainy months. In case of insufficient rainfall, irrigation is used by default. It can be used at any time, even in case of inadequate rain to help increase agricultural productivity. Thus, irrigation plays a significant role for the growth and sustenance of crops and plants.
                    Another vital benefit of irrigation is that it ensures proper water supply essential for maintaining soil fertility and facilitates ploughing.
                </p>
                <a href="#">
                    See More
                </a>
            </div>
        </div>
        <div class="each_features left-side-para">
            <div class="feature-desc" >
                <p id="limited-words">
                    
                </p>
                <a href="#">
                    See More
                </a>
            </div>
            <div class="feature-image weed"><span> Weed Control</span></div>
        </div>
        <div class="each_features right-side-para">
            <div class="feature-image climate"><span>Climate Awareness</span> </div>
            <div class="feature-desc" >
                <p id="limited-words">
                    Findings indicate that adopting traditional agricultural practices for climate change adaptation delivers multi-faceted benefits including enhancing soil quality and crop productivity by altering soil structure, promoting nutrient cycling, and reducing pests and diseases.
                </p>
                <a href="#">
                    See More
                </a>
            </div>
        </div>
        <div class="each_features left-side-para">
            <div class="feature-desc" >
                <p id="limited-words">
                    Pests can include weeds, plant pathogens (certain fungi, bacteria, and viruses), rodents, and nematodes in addition to the plant-feeding insects and mites described in the preceding text, and are estimated to destroy as much as one-third of all agricultural yield. A wide array of pest control tools exist including cultural practices such as weeding, pesticide applications, and selective plant breeding for pest resistance.
                </p>
                <a href="#">
                    See More
                </a>
            </div>
            <div class="feature-image pest"><span> Pest</span></div>
        </div>
        <div class="each_features right-side-para">
            <div class="feature-image disease"><span>Disease</span> </div>
            <div class="feature-desc" >
                <p id="limited-words">
                    
                </p>
                <a href="#">
                    See More
                </a>
            </div>
        </div>
        <div class="each_features left-side-para">
            <div class="feature-desc" >
                <p id="limited-words">
                    Harvesting is the method of collecting a ripe crop from the fields. It is carried out as soon as the plant attains average maturity concerning the useful requirement of seed, rhizomes, bulbs, tubers, stems, leaves, stalk or others with minimum losses.

                        Depending on the position of good grains in plants, harvesting is carried out with different strategies. It may involve: cutting, digging, picking, laying, gathering, curing and stacking.
                        The term harvesting also generally includes the immediate post-harvest practices such as threshing and winnowing.
                        Threshing: Threshing is the methodology of loosening the grains from the chaff after the crops are harvested. It can be done by hand or by using a machine to segregate all the grain seeds.
                        Winnowing: Winnowing is the methodology of segregation of grain seeds from the chaff using the help of the wind. Due to the wind, the lighter husks flies away, and the heavier grains fall.
                    </p>
                <a href="#">
                    See More
                </a>
            </div>
            <div class="feature-image harvesting"><span>Harvesting </span></div>
        </div>
        </div>
    </main>

  {% endblock body %}
    

