 {% extends 'ongoingProjectBase.html'%}

{% comment %}{% load static %}
{% block title%}
{{project.crop_name}} Project
{% endblock title%}
  



{% block projectDetailsBody %}
            
<section class="stepwise-info-area">
  <h2 class="heading-stepwise-info">Stepwise Information</h2>
  <div class="stepwise-blocks">
      <div class="each-step-block">
          <h3 class="step-name">
              1. Prepare Soil
          </h3>
          <div class="system-suggest ssb">
              <h4>How System Suggested.</h4>
              <p>..........................</p>
          </div>
          <div class="system-suggest ssb">
              <h4>AI Recomendation</h4>
              <p>..........................</p>
          </div>
          <div class="done ssb">
              <h4>How I done.</h4>
              <div>..........................</div>
          </div>
          <div class="stepwise-image">
              <img src="image/soilPreparation1.jpeg" alt="" class="every-step-photo">
              <img src="image/soilpreapration2.jpg" alt="" class="every-step-photo">
              <img src="image/soildPreapraiton3.jpg" alt="" class="every-step-photo">
          </div>
      </div>
      <div class="each-step-block">
          <h3 class="step-name">
              2. Sowing/Planting
          </h3>
          <div class="system-suggest ssb">
              <h4>How System Suggested.</h4>
              <p>..........................</p>
          </div>
          <div class="done ssb">
              <h4>How I done.</h4>
              <p>..........................</p>
          </div>
          <div class="stepwise-image">
              <img src="image/seed.jpg" alt="" class="every-step-photo">
              <img src="image/seed.jpg" alt="" class="every-step-photo">
              <img src="image/seed.jpg" alt="" class="every-step-photo">
          </div>
      </div>
      <div class="each-step-block">
          <h3 class="step-name">
              3. Germination
          </h3>
          <div class="system-suggest ssb">
              <h4>How System Suggested.</h4>
              <p>..........................</p>
          </div>
          <div class="done ssb">
              <h4>How I done.</h4>
              <p>..........................</p>
          </div>
          <div class="stepwise-image">
              <img src="image/germination1.jpg" alt="" class="every-step-photo">
              <img src="image/germination2.jpg" alt="" class="every-step-photo">
              <img src="image/germination3.jpg" alt="" class="every-step-photo">
          </div>
      </div>
      <div class="each-step-block">
          <h3 class="step-name">
              4. Germination
          </h3>
          <div class="system-suggest ssb">
              <h4>How System Suggested.</h4>
              <p>..........................</p>
          </div>
          <div class="done ssb">
              <h4>How I done.</h4>
              <p>..........................</p>
          </div>
          <div class="stepwise-image">
              <img src="image/germination1.jpg" alt="" class="every-step-photo">
              <img src="image/germination2.jpg" alt="" class="every-step-photo">
              <img src="image/germination3.jpg" alt="" class="every-step-photo">
          </div>
      </div>
      <div class="each-step-block">
          <h3 class="step-name">
              5. Growth Stage
          </h3>
          <div class="system-suggest ssb">
              <h4>How System Suggested.</h4>
              <p>..........................</p>
          </div>
          <div class="done ssb">
              <h4>How I done.</h4>
              <p>..........................</p>
          </div>
          <div class="stepwise-image">
              <img src="image/germination1.jpg" alt="" class="every-step-photo">
              <img src="image/germination2.jpg" alt="" class="every-step-photo">
              <img src="image/germination3.jpg" alt="" class="every-step-photo">
          </div>
      </div>
      <div class="each-step-block">
          <h3 class="step-name">
              6. Fertilizer
          </h3>
          <div class="system-suggest ssb">
              <h4>How System Suggested.</h4>
              <p>..........................</p>
          </div>
          <div class="done ssb">
              <h4>How I done.</h4>
              <p>..........................</p>
          </div>
          <div class="stepwise-image">
              <img src="image/germination1.jpg" alt="" class="every-step-photo">
              <img src="image/germination2.jpg" alt="" class="every-step-photo">
              <img src="image/germination3.jpg" alt="" class="every-step-photo">
          </div>
      </div>

      <div class="each-step-block">
        <h3 class="step-name">
            7.  Weed Management
        </h3>
        <div class="system-suggest ssb">
            <h4>How System Suggested.</h4>
            <p>..........................</p>
        </div>
        <div class="system-suggest ssb">
            <h4>AI Recomendation</h4>
            <p>..........................</p>
        </div>
        <div class="done ssb">
            <h4>How I done.</h4>
            <div>..........................</div>
        </div>
        <div class="stepwise-image">
            <img src="image/soilPreparation1.jpeg" alt="" class="every-step-photo">
            <img src="image/soilpreapration2.jpg" alt="" class="every-step-photo">
            <img src="image/soildPreapraiton3.jpg" alt="" class="every-step-photo">
        </div>
    </div>
    <div class="each-step-block">
        <h3 class="step-name">
            8. Pest Management
        </h3>
        <div class="system-suggest ssb">
            <h4>How System Suggested.</h4>
            <p>..........................</p>
        </div>
        <div class="done ssb">
            <h4>How I done.</h4>
            <p>..........................</p>
        </div>
        <div class="stepwise-image">
            <img src="image/seed.jpg" alt="" class="every-step-photo">
            <img src="image/seed.jpg" alt="" class="every-step-photo">
            <img src="image/seed.jpg" alt="" class="every-step-photo">
        </div>
    </div>
    <div class="each-step-block">
        <h3 class="step-name">
            9. Disease Management
        </h3>
        <div class="system-suggest ssb">
            <h4>How System Suggested.</h4>
            <p>..........................</p>
        </div>
        <div class="done ssb">
            <h4>How I done.</h4>
            <p>..........................</p>
        </div>
        <div class="stepwise-image">
            <img src="image/germination1.jpg" alt="" class="every-step-photo">
            <img src="image/germination2.jpg" alt="" class="every-step-photo">
            <img src="image/germination3.jpg" alt="" class="every-step-photo">
        </div>
    </div>
    <div class="each-step-block">
        <h3 class="step-name">
            10. Harvesting
        </h3>
        <div class="system-suggest ssb">
            <h4>How System Suggested.</h4>
            <p>..........................</p>
        </div>
        <div class="done ssb">
            <h4>How I done.</h4>
            <p>..........................</p>
        </div>
        <div class="stepwise-image">
            <img src="image/germination1.jpg" alt="" class="every-step-photo">
            <img src="image/germination2.jpg" alt="" class="every-step-photo">
            <img src="image/germination3.jpg" alt="" class="every-step-photo">
        </div>
    </div>
    <div class="each-step-block">
        <h3 class="step-name">
            11. Post Harvesting
        </h3>
        <div class="system-suggest ssb">
            <h4>How System Suggested.</h4>
            <p>..........................</p>
        </div>
        <div class="done ssb">
            <h4>How I done.</h4>
            <p>..........................</p>
        </div>
        <div class="stepwise-image">
            <img src="image/germination1.jpg" alt="" class="every-step-photo">
            <img src="image/germination2.jpg" alt="" class="every-step-photo">
            <img src="image/germination3.jpg" alt="" class="every-step-photo">
        </div>
    </div>
    <div class="each-step-block">
        <h3 class="step-name">
            12. Others Record
        </h3>
        <div class="system-suggest ssb">
            <h4>How System Suggested.</h4>
            <p>..........................</p>
        </div>
        <div class="done ssb">
            <h4>How I done.</h4>
            <p>..........................</p>
        </div>
        <div class="stepwise-image">
            <img src="image/germination1.jpg" alt="" class="every-step-photo">
            <img src="image/germination2.jpg" alt="" class="every-step-photo">
            <img src="image/germination3.jpg" alt="" class="every-step-photo">
        </div>
    </div>
  </div>
</section> 
 
{% endblock projectDetailsBody %}





 {% endcomment %}

{% load static %}
{% block title%}
{{project.crop_name}} Project
{% endblock title%}

{% block projectDetailsBody %}
<section class="stepwise-info-area">
  <h2 class="heading-stepwise-info">Stepwise Information</h2>
  <div class="stepwise-blocks">
    {% for step in steps %}
    <div class="each-step-block">
      <h3 class="step-name">
        {{ forloop.counter }}. {{ step.stage_name }}
      </h3>

      {% if step.expert_advise %}
      <div class="system-suggest ssb">
        <h4>Expert Sugesstion</h4>
        <p>{{ step.expert_advise }}</p>
      </div>
      {% endif %}

      {% if step.ml_prediction %}
      <div class="system-suggest ssb">
        <h4>AI Recommendation</h4>
        <p>{{ step.ml_prediction }} (Confidence: {{ step.ml_confidence|default:"N/A" }})</p>
        {% if not step.is_completed %}
        <a href="#" class="btn-suggestion">Take Suggestion</a>
        {% else %}
        <a href="#" class="btn-suggestion">Re-Take Suggestion</a>
        {% endif %}
      </div>
      {% endif %}

      
      <div class="done ssb">
        <h4>How I done.</h4>
        {% if step.farmer_done %}
        <p>{{ step.farmer_done }}</p>
        {% endif %}
      </div>

      <div class="stepwise-image">
        {% if step.image_url %}
        <img src="{{ step.image_url }}" alt="Step Image" class="every-step-photo">
        {% else %}
        <p style="color: #777">No image available.</p>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</section>





{% endblock projectDetailsBody %}
