body{
    margin: 0px;
    padding: 0pc;
}
div.memberTableArea{
    display: flex;
    justify-content: center;
    text-align: center;
}
table.memberTable{
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
table caption{
    font-size: 30px;
    margin: 10px;
}
table.memberTable th,
table.memberTable td
{
    border: 1px solid black;
}
img.member_image{
    width: 50px;
    height: 50px;
}
a.profileName{
    font-weight: bold;
    color: black;
    text-decoration:none;
}
a.profileName:hover{
    color:rgb(4, 49, 248);
}