 .add-video-btn {
    text-decoration: none;
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    
}

.video-card {
    background: white;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.883);
    flex-wrap: wrap;
    border: 1px solid rgb(183, 183, 183);
}
.open-video{
    position: relative;
    display: flex;
    justify-content: center;
}
a.play-btn{
    text-decoration: none;
    font-size: 75px;
    position: absolute;
    margin-top: 50px;
    color: rgb(0, 0, 0);
}
.thumbnail {
    width: 350px;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 15px;
}

.video-details {
    flex: 1;
}

.video-details h3 {
    font-size: 1.6rem;
    margin-bottom: 5px;
}

.video-details p {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 5px;
}

.stats {
    font-size: .9rem;
    color: #777;
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
}
.action-buttons{
    margin: 15px 0px ;
}
.action-buttons a {
    padding: 6px 12px;
    margin: 0px 10px;
    border: none;
    border-radius: 6px;
    font-size: 1.2rem;
    text-decoration: none;

}

.edit-btn {
    background-color: #599708;
    color: white;
}

.delete-btn {
    background-color: #dc3545;
    color: white;
}

@media (max-width: 768px) {
    .video-card {
        flex-direction: column;
        align-items: flex-start;
    }
    .open-video{
        /* border: 1px solid black; */
        width: 100%;
        display: flex;
        justify-content: center;
    }
    a.play-btn{
        margin-top: 55px;
    }
    .thumbnail {
        width: 100%;
        height: 220px;
        margin-bottom: 10px;
    }
}